.flip-container {
  perspective : 1000px;
}

.flip-container, card {
  text-align : center;
}

/* speed */
.flipper {
  transition : 0.3s;
  transform-style : preserve-3d;
  position : relative;
}

.flip1 {
  transform: rotateY(360deg)
}

.flip2 {
  transform: rotateY(0deg)
}